*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;  
}
:root{
  --main-color:#112C33;
  --Second-color:#A7963C;
  --third-color:#BFCCB8;
  --fourth-color:#BFCCB8;
  --fifth-color:#C5C098;
  --six-color:#F1EFE2;
  --seven-color:#ffff;
  --red-color:#6E0D3A;
  --pink-color:#9f4282;
  --green-color: #56887F;
  --blue-color:#2cd2ee;
  --brown-color:#4A0404;
  --white-color:#ffffff;
  --trans-color:rgba(255, 99, 71, 0)5;
  /*here are vintage colors- more in the website in disscussion section in github*/
}
body{

}
/*------nav----*/
nav{
  color:var(--white-color);
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--brown-color);
  
  
}
.navbar .navbar-brand{
  color:var(--white-color);
}
.navbar-nav .nav-item .nav-link{
  color:var(--white-color);
}
/*-------HERO-----*/
.hero {
width:100%;
  height: 100vh;   
  background-image: url("https://images.unsplash.com/photo-1731484634971-7dd76f2c0b7c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}
.hero-content{
text-align: center;
  color: white;
  position:absolute;
  top:70%;
  left: 8%;
  transform: translateY(-50%);   
  text-align: left;
}
.hero h1 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.hero .btn{
  color: whitesmoke;
  padding: 7px 15px;
  background: transparent;    
  border: 1px solid hsla(0,0%,100%,1.00);
  border-radius:20px ;
  outline: none;
  cursor: pointer;
}
.hero .btn:hover{	background-color: brown;
	
}


/*----blank space---*/
.blank-space-1{
  height: 15vh;
}
.blank-space-2{
  height: 10vh;
}
.blank-space-3{
  height: 15vh;
}

/*---selection sec----*/
.featured-categories img {
  width: 100%;
 
}
.featured-categories{
  color: var(--fourth-color);
  
}
.featured-categories h2{
  
}

/*----NEW---*/
.new-arrival {
  text-align: center;
}


/*---EXPLORE---*/
.Explore-categories img{
  width: 100%;
}
/*bbbbbbbbbbbbbbbbbb*/
.featured-stories img{
  width: 100%;
}
/*-------footer----*/
.foot{
  background-color:black;
 color: aliceblue;
 
}
