*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
   
  
}
body{
  
}
/*.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient rgba(3, 57, 91, 0.2);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;   
} for video this-----*/
 /* video{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
 }*/
 @media screen and (max-width: 600px) {
  .navbar {
    width: 50%;
  }
}
 /*-----------------navbar section-----------*/
.navbar{
  width: 100%;
  position:fixed;
  display:block;  
  top: 0;
  left: 0;
  padding: 17px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background-attachment: fixed;
  display: flex;
  
}

.navbar.scrolled {
  background-color:  rgba(0, 0, 0, 0.811);
  opacity: 0.7;
  
}
nav .title-top{
    width: 200px;
    font-size: 32px;
    color: #ffffff;
   
    
}
.menu-icon{
  display: none;
  font-size: 36px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}
nav ul li a:hover {
 color:#F5F5F5;
  
}

.cart{
    background: transparent;
}
.cart img {
    background-color: #034060;
    height: 30px;
    width: auto; 
}

.btn2 {
    color: rgb(255, 255, 255);
    padding: 7px 15px;
    background: transparent;    
    border: 1px solid #fff;
    border-radius:20px ;
    outline: none;
    cursor: pointer;
    
}
.btn2:hover {
    background-color: rgb(21, 0, 74);
  }
  .dropdown-menu{
    background-color: rgb(10, 0, 72);
    color: #fff;
  }
  .dropdown-item{
    color: #ffffff;
  }
  .btn1{ color: rgb(255, 255, 255);
    padding: 7px 15px;
    background: transparent;    
    border: 1px solid #fff;
    border-radius:20px ;
    outline: none;
    cursor: pointer;
    align-content: end;
    
    background-color: rgba(255, 99, 71, 0)5;
  }
  .btn1:hover{
    background-color: #013653;
  }
  
  /*-------------hero-----------------------*/
  .header-section{
    width:100%;
    height: 130vh;
    
   
    background-image: url("https://images.unsplash.com/photo-1522593494131-af72c0413ee8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
   

    
    
 }
  .content {
    text-align: center;
    color: rgb(254, 255, 255);
    position:absolute;
    top:50%;
    left: 8%;
    transform: translateY(-50%);   
    text-align: left;
  }
  .content h1 {
    font-size: 60px;
    color: #fff;
  }
  .content button{
    
  }
  .content button a {
    text-decoration: none;
    color: #fff;
  }
  .shop{
    color: rgb(255, 255, 255);
    padding: 11px 25px;
    margin-inline: 20px;
   background: transparent;    
    border: 2px solid #fff;
    border-radius:20px ;
    outline: none;
    transition: width 1s;
    transition:  color 1s;
   

  }
  .shop:hover {
    
    background-color: rgb(20, 5, 57);
    zoom: 105%;
 
    
  }
  /*----------------------------section----------------------------------*/
  .section-info img {
    height: 400px;
    align-content: center;}

  .section-info th,td {
    padding: 185px;
    text-align: left;
  } 
  .section-info button{
    border-radius: 12px;
    width: 150px;
    height: 50px;
  }
  .men td,th {
    background: rgba(74, 45, 4, 0.611);
  }
  .women td,th {
    background: rgba(74, 45, 4, 0.611);
  }
  .new td,th {
    background: rgba(74, 45, 4, 0.611);
  }
  /*------------------------new-------------------------*/
  .new{
    background-color: #034060;
  }
  /*------------women-section info----------------*/
  .women {
    height:680px;
    background-color: rgb(72, 77, 173);
    
  }
  
 

  /*----------------------------men------------------------*/  
  .men {
    height: 680px;
    background-color: rgb(120, 123, 180);

  }
  
  /*--------------------foot------------------*/
  footer {
    background-color: #030000;
    padding: 10px;
    text-align: center;
    color: white;
  }
 